ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  background: #222222;
  overflow-x: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
}

header .menu {
  display: flex;
  margin-top: 47px;
  margin-bottom: 134px;
}
header .menu .logo {
  margin-right: 80px;
}
header .menu .logo-640 {
  display: none;
}
header .menu .menu-640 {
  cursor: pointer;
  display: none;
}
header .menu ul {
  display: flex;
}
header .menu ul li {
  margin-right: 40px;
}
header .menu ul li a {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #f1f1f1;
}
header .menu ul li:last-child {
  margin-right: 412px;
}
header .menu button {
  border-radius: 65px;
  padding: 15px 35px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #151515;
  max-width: 122px;
  max-height: 54px;
}
header .banner {
  position: relative;
}
header .banner h1 {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 80px;
  line-height: 100%;
  color: #f1f1f1;
  max-width: 1015px;
  margin-bottom: 30px;
}
header .banner p {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  color: #ff4c0d;
  max-width: 475px;
}
header .banner .bike-bg {
  position: absolute;
  z-index: -1;
  left: 144px;
  top: -235px;
}
header .banner .bike-bg640 {
  display: none;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
header .infos {
  margin-top: 364px;
  position: relative;
}
header .infos h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 110%;
  color: #f1f1f1;
  max-width: 860px;
}
header .infos__box {
  display: flex;
}
header .infos__box ul {
  margin-right: 40px;
}
header .infos__box ul img {
  display: none;
}
header .infos__box ul li h3 {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #f1f1f1;
  margin-bottom: 33px;
  opacity: 0.4;
}
header .infos__box ul li p {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #f1f1f1;
  max-width: 360px;
  opacity: 0.4;
  position: relative;
}
header .infos__box ul li p:first-child {
  padding-left: 0;
}
header .infos__box ul li p::after {
  position: absolute;
  content: "";
  width: 111.3%;
  height: 3px;
  background: #f1f1f1;
  opacity: 0.4;
  top: -15px;
  left: 0;
}
header .infos__box ul li:last-child {
  margin-bottom: 0;
}
header .infos__box .active h3, header .infos__box .active p {
  opacity: 1;
}
header .infos__box .active p::after {
  position: absolute;
  content: "";
  width: 111.3%;
  height: 3px;
  background: #ff4c0d;
  opacity: 1;
  top: -15px;
  left: 0;
}
header .infos__box ul:last-child {
  margin-right: 0;
}
header .infos .images {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
header .infos .images img {
  border-radius: 15px;
}
header .infos .images .small {
  height: 300px;
  width: 360px;
}
header .infos .svg-bg__top {
  position: absolute;
  z-index: -1;
  left: -177px;
  top: -440px;
}
header .infos .svg-bg__medium {
  position: absolute;
  z-index: -1;
  right: -176px;
  bottom: 135px;
}
header .infos .svg-bg__bottom {
  position: absolute;
  z-index: -1;
  right: -176px;
  bottom: -120px;
}

.info_app .design {
  padding-top: 120px;
  margin-bottom: 120px;
  position: relative;
}
.info_app .design__top {
  position: absolute;
  z-index: -1;
  right: -176px;
  top: 0;
}
.info_app .design__top640 {
  display: none;
  position: absolute;
  z-index: -1;
}
.info_app .design h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 110%;
  color: #ff4c0d;
  margin-bottom: 70px;
  max-width: 740px;
}
.info_app .design__box {
  display: flex;
  justify-content: space-between;
}
.info_app .design__box .mini-banner {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 560px;
  height: 550px;
  box-sizing: border-box;
  position: relative;
}
.info_app .design__box .mini-banner img {
  border-radius: 15px;
}
.info_app .design__box .mini-banner .banner-text h3 {
  position: absolute;
  top: 365px;
  left: 60px;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #f1f1f1;
}
.info_app .design__box .mini-banner .banner-text P {
  position: absolute;
  top: 425px;
  left: 60px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #f1f1f1;
  max-width: 440px;
}
.info_app .design__box .mini-banner:last-child {
  margin-right: 0;
}
.info_app .design__medium {
  position: absolute;
  z-index: -1;
  top: 130px;
  left: -178px;
}
.info_app .design__medium640 {
  position: absolute;
  display: none;
  z-index: -1;
}
.info_app .design__uzor {
  position: absolute;
  z-index: -1;
  top: 650px;
  left: -177px;
}
.info_app .apps {
  display: flex;
}
.info_app .apps__text {
  position: relative;
  margin-right: 75px;
}
.info_app .apps__text h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 110%;
  color: #ff4c0d;
  margin-bottom: 30px;
  max-width: 522px;
}
.info_app .apps__text p {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #f1f1f1;
  margin-bottom: 61px;
  max-width: 318px;
}
.info_app .apps__text ul {
  display: flex;
}
.info_app .apps__text ul li {
  margin-right: 20px;
}
.info_app .apps__text ul li a {
  cursor: pointer;
}
.info_app .apps__text ul li:last-child {
  margin-right: 0;
}
.info_app .apps__text__bottom {
  position: absolute;
  bottom: 0;
  left: -176px;
}
.info_app .apps .phone640 {
  display: none;
}

.review_quest .reviews {
  position: relative;
}
.review_quest .reviews__top {
  position: absolute;
  top: 0;
  right: -176px;
  z-index: -1;
}
.review_quest .reviews__top640 {
  display: none;
  position: absolute;
  z-index: -1;
}
.review_quest .reviews h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 110%;
  color: #ff4c0d;
  margin-bottom: 30px;
  padding-top: 120px;
}
.review_quest .reviews__slider {
  display: flex;
  position: absolute;
}
.review_quest .reviews__slider .review {
  background: #151515;
  border-radius: 15px;
  box-sizing: border-box;
  width: 460px;
  height: 294px;
  margin-right: 40px;
}
.review_quest .reviews__slider .review__text {
  padding-left: 40px;
  max-height: 294;
}
.review_quest .reviews__slider .review__text h3 {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #f1f1f1;
  margin-bottom: 33px;
  position: relative;
  padding-top: 40px;
}
.review_quest .reviews__slider .review__text h3::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background: #ff4c0d;
  bottom: -15px;
  left: 0;
}
.review_quest .reviews__slider .review__text p {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #f1f1f1;
  max-width: 380px;
  margin-bottom: 18px;
}
.review_quest .reviews__slider .review__text p:last-child {
  margin-bottom: 0;
  margin-bottom: 40px;
}
.review_quest .reviews__slider .review:last-child {
  margin-right: 0;
}
.review_quest .reviews .buttons {
  position: relative;
  margin-top: 354px;
  margin-bottom: 120px;
}
.review_quest .reviews .buttons button {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #151515;
  border-radius: 65px;
  padding: 15px 35px;
  background: #f1f1f1;
}
.review_quest .reviews .buttons .arrows {
  position: absolute;
  bottom: 0;
  left: 1000px;
  cursor: pointer;
}
.review_quest .reviews .buttons .arrows .left {
  position: relative;
}
.review_quest .reviews .buttons .arrows .right {
  position: absolute;
  left: 69px;
  bottom: 0;
}
.review_quest .quest {
  margin-bottom: 120px;
}
.review_quest .quest__text {
  position: relative;
  display: flex;
}
.review_quest .quest__text img {
  position: absolute;
  z-index: -1;
  left: -177px;
  top: -300px;
}
.review_quest .quest__text .question-left {
  display: flex;
  flex-direction: column;
}
.review_quest .quest__text .question-left h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 110%;
  color: #ff4c0d;
  margin-bottom: 30px;
  max-width: 415px;
}
.review_quest .quest__text .question-left p {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #f1f1f1;
  margin-bottom: 18px;
  max-width: 304px;
}
.review_quest .quest__text .question-left p:last-child {
  margin-bottom: 0;
}
.review_quest .quest__text .question-left button {
  margin-top: 60px;
  padding: 15px 35px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #151515;
  border-radius: 65px;
  background: #f1f1f1;
  max-width: 183px;
}
.review_quest .quest__text .question-right {
  display: flex;
  flex-direction: column;
}
.review_quest .quest__text .question-right ul {
  margin-left: 85px;
}
.review_quest .quest__text .question-right ul li h3 {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #f1f1f1;
  margin-bottom: 33px;
  position: relative;
}
.review_quest .quest__text .question-right ul li h3::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background: #ff4c0d;
  bottom: -15px;
  left: 0;
}
.review_quest .quest__text .question-right ul li p {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #f1f1f1;
  margin-bottom: 40px;
}
.review_quest .bike-card {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  position: relative;
  background-image: url("../image/svg/bg-wh-bike.svg");
  width: 1160px;
  height: 550px;
  box-sizing: border-box;
}
.review_quest .bike-card .wh {
  position: absolute;
  top: -102px;
  right: -145px;
}
.review_quest .bike-card .wh-640 {
  position: absolute;
  display: none;
}
.review_quest .bike-card .bike-price {
  display: flex;
  flex-direction: column;
}
.review_quest .bike-card .bike-price h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 110%;
  color: #f1f1f1;
}
.review_quest .bike-card .bike-price span {
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  color: #ff4c0d;
}
.review_quest .bike-card .bike-price button {
  margin-top: 281px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  border-radius: 65px;
  padding: 15px 35px;
  max-width: 122px;
  background: #ff4c0d;
}
.review_quest .bike-card .bike-info {
  display: flex;
  flex-direction: column;
}
.review_quest .bike-card .bike-info .ul-title {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 25px;
}
.review_quest .bike-card .bike-info ul li {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 10px;
}
.review_quest .bike-card .bike-info ul li:last-child {
  margin-bottom: 0;
}

footer {
  background-image: url("../image/png/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #222222;
  padding: 60px 0;
}
footer .footer {
  display: flex;
  justify-content: space-between;
}
footer .footer .xiaomi p {
  max-width: 146px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: start;
  color: #f1f1f1;
}
footer .footer .time p a {
  max-width: 280px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #f1f1f1;
}
footer .footer .time p {
  max-width: 280px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #f1f1f1;
}

@media (max-width: 960px) {
  .container {
    padding: 0 40px;
  }
  .menu {
    justify-content: space-between;
  }
  .menu .logo, .menu ul, .menu button {
    display: none !important;
  }
  .menu .logo-640 {
    display: block !important;
  }
  .menu .menu-640 {
    display: block !important;
  }
  .banner .bike-bg {
    display: none;
  }
  .banner .bike-bg640 {
    display: block !important;
    left: -41px !important;
    top: -239px !important;
  }
  .banner h1 {
    font-size: 40px !important;
    line-height: 120% !important;
    color: #ff4c0d !important;
    margin-bottom: 20px !important;
  }
  .banner p {
    font-size: 20px !important;
    color: #f1f1f1 !important;
  }
  .infos {
    margin-top: 252px !important;
  }
  .infos h2 {
    font-weight: 600 !important;
    font-size: 30px !important;
  }
  .infos__box {
    flex-wrap: wrap;
  }
  .infos__box ul {
    margin-top: 40px;
    margin-right: 0 !important;
  }
  .infos__box ul img {
    margin-top: 15px;
    display: block !important;
    border-radius: 15px;
  }
  .infos__box ul li h3, .infos__box ul li p {
    opacity: 1 !important;
    max-width: 540px !important;
  }
  .infos__box ul li h3 {
    color: #ff4c0d !important;
  }
  .infos__box ul li p {
    line-height: 160% !important;
  }
  .infos__box ul li p::after {
    background: #ff4c0d !important;
    opacity: 1 !important;
    width: 150px !important;
  }
  .infos__box ul:last-child {
    margin-bottom: 80px;
  }
  .infos .svg-bg__top {
    position: absolute;
    z-index: -2;
    left: -431px !important;
    top: -440px;
  }
  .infos .svg-bg__medium {
    position: absolute;
    z-index: -1;
    right: -42px !important;
    bottom: 135px;
  }
  .infos .svg-bg__bottom {
    position: absolute;
    right: -40px !important;
    bottom: 0 !important;
  }
  .infos .images {
    display: none !important;
  }
  .design {
    padding-top: 80px !important;
  }
  .design h2 {
    font-weight: 600 !important;
    font-size: 30px !important;
    color: #f1f1f1 !important;
  }
  .design__uzor {
    display: none !important;
  }
  .design__top {
    display: none !important;
  }
  .design__top640 {
    display: block !important;
    z-index: 1 !important;
    top: 0;
    right: -40px;
  }
  .design__medium {
    display: none !important;
  }
  .design__medium640 {
    display: block !important;
    bottom: -300px;
    left: -40px;
  }
  .design__box {
    flex-wrap: wrap;
  }
  .design__box .mini-banner {
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
  .design__box .mini-banner .banner-text h3 {
    top: 388px !important;
  }
  .design__box .mini-banner .banner-text p {
    line-height: 160% !important;
    top: 432px !important;
  }
  .design__box .mini-banner:last-child {
    margin-bottom: 149px;
  }
  .apps__text {
    margin-right: 0 !important;
  }
  .apps__text h2 {
    font-weight: 600 !important;
    font-size: 30px !important;
    margin-bottom: 15px !important;
    width: 304px !important;
  }
  .apps__text p {
    line-height: 160% !important;
    margin-bottom: 59px !important;
    max-width: 259px !important;
  }
  .apps__text__bottom {
    display: none !important;
  }
  .apps .phone {
    display: none !important;
  }
  .apps .phone640 {
    display: block !important;
    margin-right: 30px;
  }
  .reviews h2 {
    padding-top: 80px !important;
    font-weight: 600 !important;
    font-size: 30px !important;
    color: #f1f1f1 !important;
  }
  .reviews__top {
    display: none !important;
  }
  .reviews__top640 {
    display: block !important;
    top: 0;
    right: -40px;
  }
  .reviews__slider .review {
    width: 415px !important;
    height: 323px !important;
  }
  .reviews__slider .review__text p {
    max-width: 372px !important;
    line-height: 160% !important;
    margin-bottom: 13px !important;
  }
  .reviews__slider .review__text p:last-child {
    margin-bottom: 40px;
  }
  .reviews .buttons {
    margin-bottom: 80px !important;
    margin-top: 393px !important;
  }
  .reviews .buttons .arrows {
    bottom: 0px !important;
    left: 371px !important;
  }
  .quest {
    margin-bottom: 80px !important;
  }
  .quest__text {
    flex-direction: column;
  }
  .quest__text .question-left h2 {
    font-weight: 600 !important;
    font-size: 30px !important;
    margin-bottom: 15px !important;
    max-width: 404px !important;
  }
  .quest__text .question-left p {
    max-width: 416px !important;
    line-height: 160%;
  }
  .quest__text .question-left button {
    margin-top: 12px !important;
  }
  .quest__text .question-right {
    margin-top: 80px !important;
  }
  .quest__text .question-right ul {
    margin-left: 0 !important;
  }
  .bike-card {
    background-image: url("../image/svg/bg-wh-bike640.svg") !important;
    background-repeat: no-repeat;
    width: 560px !important;
    height: 420px !important;
    flex-direction: column;
    padding: 40px !important;
  }
  .bike-card .wh {
    display: none !important;
  }
  .bike-card .wh-640 {
    display: block !important;
    top: -66px;
    left: 175px;
  }
  .bike-card .bike-info p {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 150% !important;
    color: #f1f1f1 !important;
    margin-bottom: 0 !important;
    margin-top: 10px !important;
  }
  .bike-card .bike-info ul {
    display: none !important;
  }
  .bike-card .bike-price h2 {
    font-weight: 600 !important;
    font-size: 30px !important;
  }
  .bike-card .bike-price span {
    font-size: 25px !important;
    line-height: 105% !important;
  }
  .bike-card .bike-price button {
    margin-top: 184px !important;
  }
  footer {
    padding: 40px 0;
  }
  .footer {
    flex-direction: column;
  }
  .footer .xiaomi {
    display: flex !important;
    justify-content: center;
  }
  .footer .time {
    display: flex !important;
    align-items: center !important;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */