@import "reset";
@import 'fonts';

body{
    background: #222222;
    overflow-x: hidden;
}
.cont{
    padding-left: 40px;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
}
header{
    .menu{
    display: flex;
    margin-top: 47px;
    margin-bottom: 134px;
    .logo{
        margin-right: 80px;
    }
    .logo-640{
        display: none;
    }
    .menu-640{
        cursor: pointer;
        display: none;
    }
    ul{
        display: flex;
        li{
            margin-right: 40px;
            a{
                font-family: "Gilroy", sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: -0.01em;
                color: #f1f1f1;
            }
        }
        li:last-child{
            margin-right: 412px;
        }
    }
    button{
        border-radius: 65px;
        padding: 15px 35px;
        font-family: "Gilroy", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #151515;
        max-width: 122px;
        max-height: 54px;
    }        
    }
    .banner{
        position: relative;
    h1{
        font-family: "Gilroy", sans-serif;
        font-weight: 600;
        font-size: 80px;
        line-height: 100%;
        color: #f1f1f1;
        max-width: 1015px;
        margin-bottom: 30px;
    }
    p{
        font-family: "Gilroy", sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 120%;
        color: #ff4c0d;
        max-width: 475px;
    }
    .bike-bg{
        position: absolute;
        z-index: -1;
        left: 144px;
        top: -235px;
    }
    .bike-bg640{
        display: none;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
    }
    .bike-bg320{
        position: absolute;
        z-index: -1;
        display: none;
    }
    }
    .infos{
        margin-top: 364px;
        position: relative;
        h2{
            font-family: "Gilroy", sans-serif;
            font-weight: 500;
            font-size: 45px;
            line-height: 110%;
            color: #f1f1f1;
            max-width: 870px; 
            margin-bottom: 60px;
        }
        &__box{
            display: flex;
            ul{
                cursor: pointer;
                img{
                    display: none;
                }
                li{
                   h3{
                        font-family: "Gilroy", sans-serif;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 120%;
                        color: #f1f1f1;
                        margin-bottom: 33px;
                        opacity: 0.4;
                    }
                    p{
                        font-family: "Gilroy", sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                        letter-spacing: -0.01em;
                        color: #f1f1f1;
                        max-width: 360px;
                        opacity: 0.4;
                        position: relative;
                    } 
                    p:first-child{
                        padding-left: 0;
                    }
                    p::after{
                        position: absolute;
                        content: '';
                        width: 111.3%;
                        height: 3px;
                        background: #f1f1f1;
                        opacity: 0.4;
                        top: -15px;
                        left: 0;
                    }
                }
                li:last-child{
                    margin-bottom: 0;
                }
                margin-right: 40px;
                
            }
            .active{
                h3,p{
                    opacity: 1;
                }
                p::after{
                    position: absolute;
                    content: '';
                    width: 111.3%;
                    height: 3px;
                    background: #ff4c0d;
                    opacity: 1;
                    top: -15px;
                    left: 0;
                }
            }  
            ul:last-child{
                margin-right: 0;
            }
            
        }
        .images{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            img{
                border-radius: 15px;
                width: 760px;
                height: 400px;
            }
            .small{
                height: 300px;
                width: 360px;
                order: 1;
            }
            margin-bottom: 120px;
        }

        .svg-bg{
            &__top{
                position: absolute;
                z-index: -1;
                left: -177px;
                top: -440px;
            }
            &__top640{
                display: none;
                position: absolute;
                z-index: -1;
            }
            &__top320{
                position: absolute;
                z-index: -1;
                display: none;
            }
            &__medium{
                position: absolute;
                z-index: -1;
                right: -176px;
                bottom: 135px;
            }
            &__bottom{
                position: absolute;
                z-index: -1;
                right: -176px;
                bottom: -120px;
            }

        }
    }

}
.info_app{
    .design{
        padding-top: 120px;
        margin-bottom: 120px;
        position: relative;
        &__top{
            position: absolute;
            z-index: -1;
            right: -176px;
            top: 0;
        }
        &__top640{
            display: none;
            position: absolute;
            z-index: -1;
        }
        &__top320{
            display: none;
            position: absolute;
            z-index: -1;
        }
        h2{
            font-family: "Gilroy", sans-serif;
            font-weight: 500;
            font-size: 45px;
            line-height: 110%;
            color: #ff4c0d;
            margin-bottom: 70px;
            max-width: 740px;
        }
        &__box{
            display: flex;
            justify-content: space-between;
            .mini-banner{
                margin-right: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-sizing: border-box;
                position: relative;
                img{
                    width: 560px;
                    height: 550px;
                    border-radius: 15px;
                }
                .banner-text{
                    h3{
                        position: absolute;
                        top: 365px;
                        left: 60px;
                        font-family: "Gilroy", sans-serif;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 120%;
                        color: #f1f1f1;
                    }
                    P{
                        position: absolute;
                        top: 425px;
                        left: 60px;
                        font-family: "Gilroy", sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                        letter-spacing: -0.01em;
                        color: #f1f1f1;
                        max-width: 440px;
                    }                    
                }
                .banner-text320{
                    display: none;
                } 
            }
            .mini-banner:last-child{
                margin-right: 0;
            }
        }
        &__medium{
            position: absolute;
            z-index: -1;
            top: 130px;
            left: -178px;
        }
        &__medium640{
            position: absolute;
            display: none;
            z-index: -1;
        }
        &__uzor{
            position: absolute;
            z-index: -1;
            top: 650px;
            left: -177px;
        }
    }
    .apps{
        display: flex;
        &__text{
            position: relative;
            margin-right: 75px;
            &__circle320{
                display: none;
                position: absolute;
                z-index: -1;
            }
            h2{
                font-family: "Gilroy", sans-serif;
                font-weight: 500;
                font-size: 45px;
                line-height: 110%;
                color: #ff4c0d;
                margin-bottom: 30px;
                max-width: 522px;
            }
            p{
                font-family: "Gilroy", sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: -0.01em;
                color: #f1f1f1;
                margin-bottom: 61px;
                max-width: 318px;
            }
            ul{
                display: flex;
                li{
                    margin-right: 20px;
                    a{
                        cursor: pointer;
                    }
                }
                li:last-child{
                    margin-right: 0;
                }
            }
            &__bottom{
                position: absolute;
                bottom: 0;
                left: -176px;
            }
        }
        .phone640{
            display: none;
        }
        .phone320{
            display: none;
        }
    }
}
.review_quest{
    .reviews{
        position: relative;
        &__top{
            position: absolute;
            top: 0;
            right: -176px;
            z-index: -1;
        }
        &__top640{
            display: none;
            position: absolute;
            z-index: -1;
        }
        h2{
            font-family: "Gilroy", sans-serif;
            font-weight: 500;
            font-size: 45px;
            line-height: 110%;
            color: #ff4c0d;
            margin-bottom: 30px;
            padding-top: 120px;
        }
        &__slider{
            display: flex;
            position: absolute;
            .review{
                background: #151515;
                border-radius: 15px;
                box-sizing: border-box;
                width: 460px;
                height: 294px;
                margin-right: 40px;
                &__text{
                    padding-left: 40px;
                    padding-right: 40px;
                    h3{
                        font-family: "Gilroy", sans-serif;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 120%;
                        color: #f1f1f1;
                        margin-bottom: 33px;
                        position: relative;
                        padding-top: 40px;
                    }
                    h3::after{
                        position: absolute;
                        content: '';
                        width: 100px;
                        height: 3px;
                        background: #ff4c0d;
                        bottom: -15px;
                        left: 0;
                    }
                    p{
                        font-family: "Gilroy", sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                        letter-spacing: -0.01em;
                        color: #f1f1f1;
                        max-width: 380px;
                        margin-bottom: 18px;
                    }
                    p:last-child{
                        margin-bottom: 0;
                        margin-bottom: 40px;
                    }  
                }
            }
            .review:last-child{
                margin-right: 0;
            }
        }
        .buttons{
            position: relative;
            margin-top: 354px;
            margin-bottom: 120px;
            button{
                font-family: "Gilroy", sans-serif;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: #151515;
                border-radius: 65px;
                padding: 15px 35px;
                background: #f1f1f1;
            }
            .arrows{
                position: absolute;
                bottom: 0;
                left: 1000px;
                cursor: pointer;
                .left{
                    position: relative;
                }
                .right{
                    position: absolute;
                    left: 69px;
                    bottom: 0;
                }
            }
        }
    }
    .quest{
        &__text{
            position: relative;
            display: flex;
            .quest-circle{
                position: absolute;
                z-index: -1;
                left: -177px;
                top: -300px;
            }
            .quest-circle640{
                position: absolute;
                z-index: -1;
                display: none;
            }
            .question-left{
                display: flex;
                flex-direction: column;
                h2{
                    font-family: "Gilroy", sans-serif;
                    font-weight: 500;
                    font-size: 45px;
                    line-height: 110%;
                    color: #ff4c0d;
                    margin-bottom: 30px;
                    max-width: 415px;
                }
                p{
                    font-family: "Gilroy", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    letter-spacing: -0.01em;
                    color: #f1f1f1;
                    margin-bottom: 18px;
                    max-width: 304px;
                }
                p:last-child{
                    margin-bottom: 0;
                }
                button{
                    margin-top: 60px;
                    padding: 15px 35px;
                    font-family: "Gilroy", sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 150%;
                    color: #151515;
                    border-radius: 65px;
                    background: #f1f1f1;
                    max-width: 183px;
                }
            }
            .question-right{
                display: flex;
                flex-direction: column;
                ul{
                    margin-left: 85px;
                    li{
                        h3{
                            font-family: "Gilroy", sans-serif;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 120%;
                            color: #f1f1f1;
                            margin-bottom: 33px;
                            position: relative;
                        }
                        h3::after{
                            position: absolute;
                            content: '';
                            width: 100px;
                            height: 3px;
                            background: #ff4c0d;
                            bottom: -15px;
                            left: 0;

                        }
                        p{
                            font-family: "Gilroy", sans-serif;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 150%;
                            letter-spacing: -0.01em;
                            color: #f1f1f1;
                            margin-bottom: 40px;
                        }
                    }
                }
            }     
        }
        margin-bottom: 120px;
    }
    .bike-card{
        display: flex;
        justify-content: space-between;
        padding: 60px;
        position: relative;
        background-image: url('../image/svg/bg-wh-bike.svg');
        width: 1160px;
        height: 550px;
        box-sizing: border-box;
        .wh{
            position: absolute;
            top: -102px;
            right: -145px;
        }
        .wh-640{
            position: absolute;
            display: none;
        }
        .wh-320{
            display: none;
            position: absolute;
        }
        .wh_circle320{
            display: none;
            position: absolute;
        }
        .bike-price{
            display: flex;
            flex-direction: column;
            h2{
                font-family: "Gilroy", sans-serif;
                font-weight: 500;
                font-size: 45px;
                line-height: 110%;
                color: #f1f1f1;
            }
            span{
                font-weight: 600;
                font-size: 30px;
                line-height: 120%;
                color: #ff4c0d;
            }
            button{
                margin-top: 281px;
                font-family: "Gilroy", sans-serif;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: #fff;
                border-radius: 65px;
                padding: 15px 35px;
                max-width: 122px;
                background: #ff4c0d;
            }
        }
        .bike-info{
            display: flex;
            flex-direction: column;
            .ul-title{
                font-family: "Gilroy", sans-serif;
                font-weight: 600;
                font-size: 20px;
                line-height: 120%;
                color: #fff;
                margin-bottom: 25px;
            }
            ul{
                li{
                    font-family: "Gilroy", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    letter-spacing: -0.01em;
                    color: #fff;
                    margin-bottom: 10px;
                }
                li:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}
footer{
    background-image: url('../image/png/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #222222;
    padding: 60px 0;
    .footer{
        display: flex;
        justify-content: space-between;
        .xiaomi{
            display: flex;
            flex-direction: column;
            p{
                max-width: 146px;
                font-family: "Gilroy", sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: -0.01em;
                text-align: start;
                color: #f1f1f1;
            }            
        }
        .time{
            display: flex;
            flex-direction: column;
            p{
                text-align: end;
                a{
                    max-width: 280px;
                    font-family: "Gilroy", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    letter-spacing: -0.01em;
                    color: #f1f1f1;
                }  
            }
            p{
                max-width: 280px;
                font-family: "Gilroy", sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: -0.01em;
                color: #f1f1f1;
            }
        }
    }      
}
        

@media (max-width:960px){
    .container{
        padding: 0 40px;
    }
    .menu{
        margin-top: 44px !important;
        margin-bottom: 119px !important;
        justify-content: space-between;
        .logo,ul,button{
            display: none !important;
        }
        .logo-640{
            display: block !important;
        }
        .menu-640{
            display: block !important;
        }
    }
    .banner{
        .bike-bg{
            display: none;
        }
        .bike-bg640{
            display: block !important;
            left: -40px !important;
            top: -239px !important;
        }
        h1{
            font-size: 40px !important;
            line-height: 120% !important;
            color: #ff4c0d !important;
            margin-bottom: 20px !important; 
        }
        p{
            font-size: 20px !important;
            color: #f1f1f1 !important;
        }
    }
    .infos{
        margin-top: 252px !important;
        &__title{
            display: flex;
            justify-content: center;
            h2{
                font-weight: 600 !important;
                font-size: 30px !important;
                margin-bottom: 40px !important;
        
            }
        }
        &__box{
            justify-content: center;
            flex-wrap: wrap;
            ul{
                margin-bottom: 40px;
                margin-right: 0 !important;
                img{
                    margin-top: 15px;
                    display: block !important;
                    border-radius: 15px;
                }
                li{
                    h3,p{
                        opacity: 1 !important;
                        max-width: 540px !important;
                    }
                    h3{
                        color: #ff4c0d !important;
                    }
                    p{
                        line-height: 160% !important;
                    }
                    p::after{
                        background: #ff4c0d !important;
                        opacity: 1 !important;
                        width: 150px !important;
                    }
                }
            }
            ul:last-child{
                margin-bottom: 80px !important;
            }
        }
        .svg-bg{
            &__top{
                display: none !important;
            }
            &__top640{
                display: block !important;
                top: -370px;
                right: -40px;
            }
            &__medium{
                position: absolute;
                z-index: -1;
                right: -40px !important;
                bottom: 135px;

            }
            &__bottom{
                display: none !important;
            }

        }
        .images{
            display: none !important;
        }
    }
    .design{
        padding-top: 80px !important;
        h2{
            font-weight: 600 !important;
            font-size: 30px !important;
            color: #f1f1f1 !important;
        }
        &__uzor{
            display: none !important;
        }
        &__top{
            display: none !important;
        }
        &__top640{
            display: block !important;
            z-index: -1 !important;
            top: 0;
            right: -40px;
        }
        &__medium{
            display: none !important;
        }
        &__medium640{
            display: block !important;
            bottom: -300px;
            left: -40px;
        }
        &__box{
            flex-wrap: wrap;
            justify-content: center !important;
            .mini-banner{
                margin-right: 0 !important;
                margin-bottom: 20px;
                .banner-text320{
                    display: none;
                }
                .banner-text{
                    h3{
                        top:388px !important;
                    }
                    p{
                        line-height: 160% !important;
                        top:432px !important;
                    }
                }
            }
            .mini-banner:last-child{
                margin-bottom: 149px;
            }
        }
    }
    .apps{
        justify-content: center !important;
        &__text{
            margin-right: 0 !important;
            h2{
                font-weight: 600 !important;
                font-size: 30px !important;
                margin-bottom: 15px !important;
                width: 304px !important;
            }
            p{
                line-height: 160% !important;
                margin-bottom: 59px !important;
                max-width: 259px !important;
            }
            &__bottom{
                display: none !important;
            }
        }
        .phone{
            display: none !important;
        }
        .phone640{
            display: block !important;
            margin-left: 45px;
        }
    }
    .reviews{
        h2{
            padding-top: 80px !important;
            font-weight: 600 !important;
            font-size: 30px !important;
            color: #f1f1f1 !important;
        }
        &__top{
            display: none !important;
        }
        &__top640{
            display: block !important;
            top: 0;
            right: 0px;
        }
        &__slider{
            position: relative;
            display: flex;
            width: 100%;
            overflow: hidden;
            flex-wrap: nowrap;
            .review{
                min-width: 460px;
                width: 415px !important;
                height: 323px !important;
                margin-right: 20px !important;
                &__text{
                    p{
                        max-width: 372px !important;
                        line-height: 160% !important;
                        margin-bottom: 13px !important;
                    }
                    p:last-child{
                        margin-bottom: 40px !important;
                    }
                }
            }
        }
        .buttons{
            margin-bottom: 80px !important;
            margin-top: 393px !important;
            .arrows{
                bottom: 0px !important;
                left: 435px  !important;
            }
        }
    }
    .quest{
        margin-bottom: 80px !important;

        &__text{
            flex-direction: column;
            .quest-circle{
                display: none !important;
            }
            .quest-circle640{
                display: block !important;
                right: -40px;
                top: -140px;
            }
            .question-left{
                h2{
                    font-weight: 600 !important;
                    font-size: 30px !important;
                    margin-bottom: 15px !important;
                    max-width: 404px !important;
                }
                p{
                    max-width: 416px !important;
                    line-height: 160% !important;
                }
                button{
                    margin-top: 12px !important;
                }
            }
            .question-right{
                margin-top: 80px !important;
                ul{
                    li{
                        h3::after{
                            width: 150px !important;
                        }
                    }
                    margin-left: 0 !important;
                }
            }
        }
    }
    .bike-card{
        background-image: url('../image/svg/bg-wh-bike640.svg') !important;
        background-size: cover;
        background-repeat: no-repeat;
        width: 560px !important;
        height: 420px !important;
        flex-direction: column;
        padding: 40px !important;
        .wh{
            display: none !important;
        }
        .wh-640{
            display: block !important;
            top: -66px;
            left: 136px;
        }
        .bike-info{
            p{
                font-weight: 700 !important;
                font-size: 16px !important;
                line-height: 150% !important;
                color: #f1f1f1 !important;
                margin-bottom: 0 !important;
                margin-top: 10px !important;
            }
            ul{
                display: none !important;
            }
        }
        .bike-price{
            h2{
                font-weight: 600 !important;
                font-size: 30px !important;
            }
            span{
                font-size: 25px !important;
                line-height: 105% !important;
            }
            button{
                margin-top: 184px !important;
            }
        }
    }
    footer{
        padding: 40px 0;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        .xiaomi{
            display: flex !important;
            flex-direction: column;
            justify-content: center;
        }
        .time{
            align-items: center !important;
        }
    }
}


@media  (max-width:480px){
    .container{
        padding: 0 20px;
    }
    .menu{
        margin-top: 22px !important;
        margin-bottom: 0px !important; 
        .logo-640{
            width: 49px;
            height: 24.68px;
        }
        .menu-640{
            img{
                width: 45px;
                height: 45px;
            }
            
        }
    }
    .banner{
        h1{
            display: none;
        }
        p{
            display: none;
        }
        .bike-bg640{
            display: none !important;
        }
        .bike-bg320{
            display: block !important;
            left: -20px;
            top: -72px;
        }
    }
    .infos{
        margin-top: 397px !important;
        &__title{
            display: flex;
            justify-content: center;
            h2{
                font-size: 25px !important;
                line-height: 120% !important;
                margin-bottom: 30px !important;
            }
        }
        &__box{
            ul{
                margin-bottom: 40px !important;
                margin-right: 0 !important;
                img{
                    margin-top: 15px;
                    display: block !important;
                    border-radius: 15px;
                    width: 280px !important;
                    height: 200px !important;
                }
                li{
                    h3,p{
                        opacity: 1 !important;
                        max-width: 280px !important;
                    }
                    h3{
                        font-size: 16px !important;
                        margin-bottom: 20px !important;
                    }
                    p{
                        font-size: 12px !important;
                        line-height: 170% !important;
                    }
                    p::after{
                        width: 100px !important;
                        top: -10px !important;
                    }
                }
            }
            ul:last-child{
                margin-bottom: 53px !important;
            }
        }
        .svg-bg{
            &__top640{
                display: none !important;
            }
            &__medium{
                display: none !important;
            }
            &__top320{
                display: block !important;
                left: -20px;
                top: -110px;
            }
        }
    }
    .design{
        padding-top: 60px !important;
        h2{
            font-size: 25px !important;
            line-height: 120% !important;
            max-width: 278px !important;
            margin-bottom: 30px !important;
        }
        &__top640{
            display: none !important;
        }
        &__medium640{
            display: none !important;
        }
        &__top320{
            display: block !important;
            left: -20px;
            top: 0;
        }
        &__box{
            .mini-banner{
                margin-bottom: 20px;
                img{
                    width: 280px !important;
                    height: 260px !important;
                }
                .banner-text{
                    display: none !important;
                }
                .banner-text320{
                    display: block !important;
                    h3{
                        font-family: "Gilroy", sans-serif;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 120%;
                        color: #f1f1f1;
                        margin-bottom: 10px;
                        margin-top: 15px;
                        max-width: 280px;
                    }
                    p{
                        font-family: "Gilroy", sans-serif;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 170%;
                        letter-spacing: -0.01em;
                        color: #f1f1f1;
                        max-width: 280px;
                    }
                }
            }
            .mini-banner:last-child{
                margin-bottom: 20px;
            }
        }
    }
    .apps{
        flex-direction: column;
        &__text{
            &__circle320{
                display: block !important;
                left: -20px;
                bottom: -470px;
            }
            h2{
                font-size: 25px !important;
                line-height: 120% !important;
                max-width: 278px !important;
            }
            p{
                font-size: 12px !important;
                line-height: 170% !important;
                margin-bottom: 105px !important;
                max-width: 278px !important;
            }
            ul{
                display: none !important;
            }
        }
        .phone640{
            display: none !important;
        }
        .phone320{
            display: block !important;
            margin-bottom: 60px;
        }
    }
    .reviews{
        display: none !important;
    }
    .quest{
        margin-bottom: 60px !important;
        &__text{
            flex-direction: column;
            .quest-circle640{
                display: none !important;
            }
            .question-left{
                h2{
                    font-size: 25px !important;
                    line-height: 120% !important;
                    margin-bottom: 15px !important;
                    max-width: 280px !important;
                }
                p{
                    max-width: 280px !important;
                    line-height: 170% !important;
                    font-size: 12px !important;
                }
                button{
                    padding: 15px 83.5px;
                    margin-top: 0 !important;
                    max-width: 280px !important;
                }
            }
            .question-right{
                margin-top: 60px !important;
                ul{
                    li{
                        h3{
                            font-size: 16px !important;
                        }
                        p{
                            font-size: 12px !important;
                            line-height: 170% !important;
                        }
                    }
                    margin-left: 0 !important;
                }
            }
        }
    }
    .bike-card{
        background-image: url('../image/svg/bg-wh-bike320.svg') !important;
        background-size: cover;
        background-repeat: no-repeat;
        width: 280px !important;
        height: 618px !important;
        padding: 30px !important;
        .wh-640{
            display: none !important;
        }
        .wh-320{
            display: block !important;
            left: 0;
            top: 220px;
        }
        .wh_circle320{
            display: block !important;
            z-index: -1;
            bottom: 0;
            left: -20px;
        }
        .bike-info{
            p{
                font-weight: 700 !important;
                font-size: 16px !important;
                color: #f1f1f1 !important;
                margin-top: 0 !important;
                text-align: center;
            }
            ul{
                display: none !important;
            }
        }
        .bike-price{
            h2{
                font-size: 25px !important;
                line-height: 120% !important;
            }
            span{
                font-size: 20px !important;
                line-height: 110% !important;
            }
            button{
                margin-top: 380px !important;
                max-width: 220px !important;
                padding: 15px 84px !important;
                text-align: center;
            }
        }
    }
    footer{
        padding: 30px 0;
    }
    .footer{
        .xiaomi{
            p{
                font-size: 12px !important;
                line-height: 170% !important;
            }
        }
        .time{
            p{
                font-size: 12px !important;
                line-height: 170% !important;
            }
        }
    }
}
